name: form_builder_file_picker
description: A local copy of form_builder_file_picker adapted for flutter_form_builder 10.x
version: 4.2.0
homepage: https://pub.dev/packages/form_builder_file_picker

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_form_builder: ^10.1.0
  form_builder_validators: ^11.0.0
  file_picker: ^8.3.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
      ios: